/**
 * "
 *  Using bfa0 color palette from the Emacs bfa0 Theme
 *  https://github.com/bbatsov/bfa0-emacs/blob/master/bfa0-theme.el
 *
 *  Also using parts of https://github.com/xavi/coderay-lighttable-theme
 * "
 * From: https://github.com/wisenomad/bfa0-lighttable-theme/blob/master/bfa0.css
 */

.cm-s-bfa0 .CodeMirror-gutters { background: #3f3f3f !important; }
.cm-s-bfa0 .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #999; }
.cm-s-bfa0 .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-bfa0 { background-color: #3f3f3f; color: #dcdccc; }
.cm-s-bfa0 span.cm-builtin { color: #ffc224; font-weight: bold; }
.cm-s-bfa0 span.cm-comment { color: #a0bfa0; }
.cm-s-bfa0 span.cm-keyword { color: #ffc224; }
.cm-s-bfa0 span.cm-atom { color: #a0bfbf; }
.cm-s-bfa0 span.cm-def { color: #bfa0bf; } /*#cc9393 punakas*/
.cm-s-bfa0 span.cm-variable { color: #dfaf8f; }
.cm-s-bfa0 span.cm-variable-2 { color: #dcdccc; }
.cm-s-bfa0 span.cm-string { color: #BF97A0; }
.cm-s-bfa0 span.cm-string-2 { color: #cc9393; }
.cm-s-bfa0 span.cm-number { color: #dcdccc; }
.cm-s-bfa0 span.cm-tag { color: #e2a88e; } /*#b797c0 lilla*/
.cm-s-bfa0 span.cm-property { color: #bfa0af; } /*lillakas*/
.cm-s-bfa0 span.cm-attribute { color: #bfa0a0; } /*punane*/
.cm-s-bfa0 span.cm-qualifier { color: #a0a0bf; } /*7c..*/
.cm-s-bfa0 span.cm-meta { color: #f0dfaf; }
.cm-s-bfa0 span.cm-header { color: #f0efd0; }
.cm-s-bfa0 span.cm-operator { color: #f0efd0; }
.cm-s-bfa0 span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-bfa0 span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-bfa0 .CodeMirror-activeline { background: #000000; }
.cm-s-bfa0 .CodeMirror-activeline-background { background: #000000; }
.cm-s-bfa0 div.CodeMirror-selected { background: #545454; }
.cm-s-bfa0 .CodeMirror-focused div.CodeMirror-selected { background: #4f4f4f; }
