/**
 * "
 *  Using Zeus color palette from the Emacs Zeus Theme
 *  https://github.com/bbatsov/zeus-emacs/blob/master/zeus-theme.el
 *
 *  Also using parts of https://github.com/xavi/coderay-lighttable-theme
 * "
 * From: https://github.com/wisenomad/zeus-lighttable-theme/blob/master/zeus.css
 */

.cm-s-zeus .CodeMirror-gutters { background: #3f3f3f !important; }
.cm-s-zeus .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #999; }
.cm-s-zeus .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-zeus { background-color: #3f3f3f; color: #dcdccc; }
.cm-s-zeus span.cm-builtin { color: #ffbb11; font-weight: bold; }
.cm-s-zeus span.cm-comment { color: #909090; } /*#709080 green*/
.cm-s-zeus span.cm-keyword { color: #ffbb11; } /*#709080 green #ffc224 yellow #ffaf00 gold*/
.cm-s-zeus span.cm-atom { color: #7cb8bb; }
.cm-s-zeus span.cm-def { color: #b797c0; } /*#cc9393 punakas*/
.cm-s-zeus span.cm-variable { color: #dfaf8f; }
.cm-s-zeus span.cm-variable-2 { color: #dcdccc; }
.cm-s-zeus span.cm-string { color: #BF97A0; }
.cm-s-zeus span.cm-string-2 { color: #cc9393; }
.cm-s-zeus span.cm-number { color: #dcdccc; }
.cm-s-zeus span.cm-tag { color: #e2a88e; } /*#b797c0 lilla*/
.cm-s-zeus span.cm-property { color: #bfa0bf; } /*täislilla*/
.cm-s-zeus span.cm-attribute { color: #bfa0a0; } /*punane*/
.cm-s-zeus span.cm-qualifier { color: #a0a0bf; } /*#7cb8bb*/
.cm-s-zeus span.cm-meta { color: #f0dfaf; }
.cm-s-zeus span.cm-header { color: #f0efd0; }
.cm-s-zeus span.cm-operator { color: #f0efd0; }
.cm-s-zeus span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-zeus span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-zeus .CodeMirror-activeline { background: #000000; }
.cm-s-zeus .CodeMirror-activeline-background { background: #000000; }
.cm-s-zeus div.CodeMirror-selected { background: #545454; }
.cm-s-zeus .CodeMirror-focused div.CodeMirror-selected { background: #4f4f4f; }
